<html>
<body style="background-color:orange ">
<form action="http://localhost:5000/register" method="POST" style="text-align:right">
    <p style="color:blue">نام <input type="text" name="first_name"/></p>
    <p style="color:blue">نام خانوادگی <input type="text" name="last_name"/></p>
    <p style="color:blue">نام کاربری <input type="text" name="username" required="required"/></p>
    <p style="color:blue">پسورد <input type="password" name="password" required="required"/></p>

    <input style="color:green" type="submit" value="submit"/>
</form>
</body>
</html>