<html>
<body style="background-color:orange " >
<form action="http://localhost:5000/search" method="POST" style="text-align:right">
    <p style="color:blue">متراژ <input type="number" name="Name" min="40" max="120"/></p>
    <p style="color:blue">چند روز اخیر <input type="number" name="Physics" min="0" max="50"/></p>
    <p style="color:blue">تعداد اتاق<input type="number" name="chemistry" min="0" max="50"/></p>
    <p style="color:blue">قیمت کل <input type="number" name="chemistry" min="0" max="50"/></p>
    <p style="color:blue">قیمت هر متر <input type="number" name="chemistry" min="0" max="50"/></p>
    <input style="color:green" type="submit" value="submit"/>
</form>
</body>
</html>